/* @group Main Reset */
html, body, div, span, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, code,
del, dfn, em, img, q, dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td, header, nav, article, section, dialog, figure, aside, footer {margin: 0; padding: 0; border: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; }

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary{display: block;}

table { border-collapse: separate; border-spacing: 0; }
caption, th, td { text-align: left; font-weight: normal; }
table, td, th { vertical-align: middle; }

strong      { font-weight: bold; }
em      { font-style: italic; }

/* Corrects inline-block not defined in IE6/7/8 and FF3
audio[controls], 
canvas, 
video {
	display: inline-block;
	*display: inline;
	*zoom: 1;
}
*/
/*
	* Addresses styling not present IE8/9, FF3, S4
	* Ensures content is hidden from all presentations, including screenreaders

[hidden] {
	display: none;
	visibility: hidden;
}
*/
/* @end */

/* @group Base Structure */
html, 
body {
	min-height:100%;
	height:100%;
}

html {
	min-height:100%;
	height:100%;
	font-size: 100%;
	overflow-y: scroll; /* Force a scrollbar in non-IE */
	-webkit-text-size-adjust: 100%; /* Prevent iOS text size adjust on orientation change without disabling user zoom */
	-ms-text-size-adjust: 100%;
}

body {
	margin: 0 auto;
	font-family: "Helvetica Neue", "HelveticaNeue", Helvetica, sans-serif;
	font-size: 14px;
	color: #777;
	height: 100%;
}

/* Headings/small
---------------------------------------- */
h1,h2,h3,h4,h5,h6 { font-weight: normal; color: #333; }

h1 { font-size: 24px; margin: 10px 0; }
h2 { font-size: 22px; margin-bottom: 10px; }
h3 { font-size: 20px; line-height: 1; margin-bottom: 10px; }
h4 { font-size: 16px; line-height: 1.25; margin-bottom: 5px; height: 125%; }
h5 { font-size: 14px; font-weight: bold; margin-bottom: 15px; }
h6 { font-size: 14px; font-weight: bold; }

h1 img, h2 img, h3 img, 
h4 img, h5 img, h6 img {
  margin: 0;
}

small {
	font-size: 10px; /* 10px */
}
hr {
	clear: left;
	border: 0;
	height: 1px;
	margin: 10px 0;
	padding: 0;     
	background-color: #eee;
	border-bottom: 1px solid #ddd;
}

strong {
	font-weight: bold;
}

.float_left {
	float: left !important;	
}
.float_right {
	float: right !important;
}
img.alignnone,
img.aligncenter { 
	margin:20px 0;
	padding: 4px;
	background:#eee;
	border: 1px solid #ccc;
} 
img.aligncenter {
	margin: 0 auto;
}
img.alignleft {
	float: left !important;	
	margin: 0 20px 20px 0 !important;
	padding: 4px;
	background:#eee;
	border: 1px solid #ccc;
}
img.alignright {
	float: right !important;
	margin: 0 0 20px 20px !important;
	padding: 4px;
	background:#eee;
	border: 1px solid #ccc;
}
.clearfix:before, .clearfix:after {
	content: "";
	display: table;
}

.clearfix:after {
	clear: both;
}
/* 
.clearfix {
	zoom: 1;
}
@end */

/* @group Blockquotes */
blockquote, 
q {
	quotes: none;
}

blockquote:before, 
blockquote:after, 
q:before, 
q:after {
	content: '';
	content: none;
}

blockquote, 
q, 
cite {
	font-style: italic;
}

blockquote {
	padding-left: 20px;
	border-left: 1px solid #ddd;
}

blockquote > p {
	padding: 0;
}
/* @end */

/* @group Figures and Embedded Content */
figure {
	margin: 0;
}

img, 
object, 
video {
	max-width: 100%; 
	/* Automatically scales images larger than the container. Consider this first: http://unstoppablerobotninja.com/entry/fluid-images/ */
}

img {
	border: 0;
	-ms-interpolation-mode: bicubic; /* Improve IE's resizing of images: css-tricks.com/ie-fix-bicubic-scaling-for-images */
}

/* Corrects overflow displayed oddly in IE9 */
svg:not(:root) {
	overflow: hidden;
}
/* @end */

/* @group Abbr and sub-typography */
abbr[title], dfn[title] {
	border-bottom: 1px dotted;
	cursor: help;
}

mark {
	background: #ff0;
}

ins {
	text-decoration: none;
	background: #ff9;
}

del {
	text-decoration: line-through;
}


dfn {
	font-style: italic;
}

var, 
address {
	font-style: normal;
}

/* Position 'sub' and 'sup' without affecting line-height: gist.github.com/413930 */
sub, 
sup {
	font-size: 10px;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -5px;
}

sub {
	bottom: -5px;
}
/* @end */

/* @group Lists */
ul, 
ol      { margin: 0 0px 20px 20px;list-style: none; }

li ul, 
li ol       { margin:0 0px 10px 15px; }

dl          { margin: 0 0 15px 0; }
dl dt       { font-weight: bold; }
/* @end */

/* @group Links */ 
a img { border: none; }

a, 
a:visited {
	text-decoration: none;
	color: #000;
}

a:hover {
	text-decoration: underline;
}

a:focus {
	outline: none;
}

/* Better CSS outline suppression: people.opera.com/patrickl/experiments/keyboard/test */
a:hover, 
a:active {
	outline: none;
}
/* @end */

.clear { clear:both; }



/* @group Grid */

/* The 1Kb Grid =  16 columns, 60 pixels each, with 10 pixel gutter 
---------------------------------------- */
.grid_1 { width:60px;  }
.grid_2 { width:130px; }
.grid_3 { width:200px; }
.grid_4 { width:270px; }
.grid_5 { width:340px; }
.grid_6 { width:410px; }
.grid_7 { width:480px; }
.grid_8 { width:550px; }
.grid_9 { width:620px; }
.grid_10 { width:690px; }
.grid_11 { width:760px; }
.grid_12 { width:830px; }
.grid_13 { width:900px; }
.grid_14 { width:970px; }
.grid_15 { width:1040px; }
.grid_16 { width:1110px; }
.column {
	margin: 0 5px;
	overflow: hidden;
	float: left;
	display: inline;
}
.row {
	width: 1120px;
	margin: 0 auto;
	overflow: hidden;
}
.row .row {
	margin: 0 -5px;
	width: auto;
	display: inline-block;
}

/* @end */



/* @group Tables */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

th {
	text-align: left;
}

tr, th, td {
	padding-right: 1.625em;
}

table th.wauto {width:auto;}
table th.shrink {width:1% !important;}

table th.w20, 
table td.w20 {width:20px;}
table th.w25, 
table td.w25 {width:25px;}
table th.w30, 
table td.w30 {width:30px;}
table th.w35, 
table td.w35 {width:35px;}
table th.w40, 
table td.w40 {width:40px;}
table th.w45, 
table td.w45 {width:45px;}
table th.w50, 
table td.w50 {width:50px;}
table th.w55, 
table td.w55 {width:55px;}
table th.w60, 
table td.w60 {width:60px;}
table th.w65, 
table td.w65 {width:65px;}
table th.w70, 
table td.w70 {width:70px;}
table th.w75, 
table td.w75 {width:75px;}
table th.w80, 
table td.w80 {width:80px;}
table th.w85, 
table td.w85 {width:85px;}
table th.w90, 
table td.w90 {width:90px;}
table th.w95, 
table td.w95 {width:95px;}
table th.w100, 
table td.w100 {width:100px;}
table th.w105,
table td.w105 {width:105px;}
table th.w110, 
table td.w110 {width:110px;}
table th.w115, 
table td.w115 {width:115px;}
table th.w120, 
table td.w120 {width:120px;}
table th.w125, 
table td.w125 {width:125px;}
table th.w130, 
table td.w130 {width:130px;}
table th.w135, 
table td.w135 {width:135px;}	
table th.w140, 
table td.w140 {width:140px;}
table th.w145, 
table td.w145 {width:145px;}
table th.w150, 
table td.w150 {width:150px;}
table th.w160, 
table td.w160 {width:160px;}
table th.w170, 
table td.w170 {width:170px;}
table th.w180, 
table td.w180 {width:180px;}
table th.w190, 
table td.w190 {width:190px;}
table th.w200, 
table td.w200 {width:200px;}
table th.w210, 
table td.w210 {width:210px;}
table th.w220, 
table td.w220 {width:220px;}
table th.w230, 
table td.w230 {width:230px;}
table th.w240, 
table td.w240 {width:240px;}
table th.w250, 
table td.w250 {width:250px;}
table th.w260, 
table td.w260 {width:260px;}
table th.w270, 
table td.w270 {width:270px;}
table th.w280, 
table td.w280 {width:280px;}
table th.w290, 
table td.w290 {width:290px;}
table th.w300, 
table td.w300 {width:300px;}

table td.align_left {
	text-align: left !important;
}


table td.align_right {
	text-align: right !important;
}

table td.align_center {
	text-align: center !important;
}
/* @end */


/* @group Forms and Inputs */

form {
	margin: 0;
}

fieldset {
	border: 0;
	padding: 0;
}

textarea {
	overflow: auto;
	vertical-align: top;
}

legend {

}

button, input, select, textarea {
	vertical-align: baseline;
}

button, input {
	line-height: normal;
}

button, 
input[type="button"], 
input[type="reset"], 
input[type="submit"] {
	cursor: pointer;
	-webkit-appearance: button;
}

input[type="checkbox"], 
input[type="radio"] {
	box-sizing: border-box;
}

input[type="search"] {
	-webkit-appearance: textfield;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
}

input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input[type="search"]::-webkit-search-decoration {
  display: none;
}

input,
button,
select,
textarea {
  margin: 0;
  vertical-align: middle;
}

input[type="radio"],
input[type="checkbox"] {
  position: relative;
  vertical-align: top;
  top: 3px;

}
/*
button,
input[type="reset"],
input[type="submit"],
input[type="button"] {
  -webkit-appearance: none;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  background-clip: padding-box;   

		background: #ddd url(../images/button.png) repeat-x;  

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), color-stop(1, #ddd));
  background: -moz-linear-gradient(top center, #fff 0%, #ddd 100%);
  border: 1px solid;
  border-color: #ddd #bbb #999;
  cursor: pointer;
  color: #333;
  */
  /*
    Helvetica Neue present, because it works better for line-height on buttons than Arial, on OS X.
  */
  /*font: bold 12px/1.3 'Helvetica Neue', Arial, 'Liberation Sans', FreeSans, sans-serif;
  outline: 0;
  overflow: visible;
  padding: 3px 10px;
  text-shadow: #fff 0 1px 1px;
  width: auto;

}
*/
textarea,
select,
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"] {
  -webkit-appearance: none;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  background-clip: padding-box;
  background-color: #fff;
  border: 1px solid;
  border-color: #848484 #c1c1c1 #e1e1e1;
  color: #000;
  outline: 0;
  padding: 2px 3px;
  font-size: 13px;
  /*
    Leaving out Helvetica Neue, to not throw off size="..." on inputs. Arial is more reliable, on Windows and OS X.
  */
  font-family: Arial, 'Liberation Sans', FreeSans, sans-serif;
  height: 30px;
}

/*
  Separate rule for Firefox.
  Separate rule for IE, too.
  Cannot stack with WebKit's.
*/
::-webkit-input-placeholder {
  color: #888;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #888;
}

input.placeholder_text,
textarea.placeholder_text {
  color: #888;
}


/*:invalid { */
  /* Suppress red glow that Firefox adds to form fields by default, even when user is still typing. */
/*  -moz-box-shadow: none; 
  -webkit-box-shadow: none;
  box-shadow: none;
}
*/
button:focus,
button:active,
input:focus,
input:active,
select:focus,
select:active,
textarea:focus,
textarea:active {
  -moz-box-shadow: #06f 0 0 7px;
  -webkit-box-shadow: #06f 0 0 7px;
  box-shadow: #06f 0 0 7px;
  /* for Opera */
  z-index: 1;
}

input[type="file"]:focus,
input[type="file"]:active,
input[type="radio"]:focus,
input[type="radio"]:active,
input[type="checkbox"]:focus,
input[type="checkbox"]:active {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

select[disabled],
textarea[disabled],
input[type="date"][disabled],
input[type="datetime"][disabled],
input[type="datetime-local"][disabled],
input[type="email"][disabled],
input[type="month"][disabled],
input[type="number"][disabled],
input[type="password"][disabled],
input[type="search"][disabled],
input[type="tel"][disabled],
input[type="text"][disabled],
input[type="time"][disabled],
input[type="url"][disabled],
input[type="week"][disabled] {
  background-color: #eee;
}


input[disabled],
select[disabled],
select[disabled] option,
select[disabled] optgroup,
textarea[disabled] {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  color: #888;
  cursor: default;
 
}
 
select[size],
select[multiple] {
  height: auto;
}

/* Tweaks for Safari + Chrome. */
@media (-webkit-min-device-pixel-ratio: 0) {
  select {
		
		background-image: url(../images/select_arrow.gif);

    background-repeat: no-repeat;
    background-position: right center;
    padding-right: 20px;
  }

  select[size],
  select[multiple] {
    background-image: none;
    padding: 0;
  }

  ::-webkit-validation-bubble-message {
    box-shadow: rgba(0, 0, 0, 0.5) 0 0 5px;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #666), color-stop(1, #000));
    border: 1px solid;
    border-color: #747474 #5e5e5e #4f4f4f;
    color: #fff;
    font: 13px/17px 'Lucida Grande', Arial, 'Liberation Sans', FreeSans, sans-serif;
    overflow: hidden;
    padding: 15px 15px 17px;
    text-shadow: #000 0 0 1px;
    height: 16px;
  }

  ::-webkit-validation-bubble-arrow,
  ::-webkit-validation-bubble-top-outer-arrow,
  ::-webkit-validation-bubble-top-inner-arrow {
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #666;
    border: 0;
  }
}

textarea {
  min-height: 40px;
  overflow: auto;
  resize: vertical;
  width: 100%;
}

optgroup {
  color: #000;
  font-style: normal;
  font-weight: normal;
}
/* @end */



/* @group Print Styles */
/* Print styles inlined to avoid extra HTTP connection */
@media print {
	* {
		background: transparent !important;
		color: black !important; /* Black prints faster: sanbeiji.com/archives/953 */
		text-shadow: none !important;
		filter: none !important;
		-ms-filter: none !important;
	}

	a, 
	a:visited {
		text-decoration: underline;
	}

	a[href]:after {
		content: " (" attr(href) ")";
	}

	abbr[title]:after {
		content: " (" attr(title) ")";
	}

	/* Do not show javascript and internal links */
	a[href^="javascript:"]:after, a[href^="#"]:after {
		content: ""; 
	}

	/* Printing Tables: css-discuss.incutio.com/wiki/Printing_Tables */
	thead {
		display: table-header-group;
	}

	tr, 
	img {
		page-break-inside: avoid;
	}

	@page {
		margin: 0.5cm;
	}

	p, h2, h3 {
		orphans: 3;
		widows: 3;
	}

	h2, h3 {
		page-break-after: avoid;
	}
}
/* @end */

/* @group Primary Styling */






/* @end */