<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 3.2//EN">
<html>
  <head>
    <title></title>
  </head>
  <body>
    /* * HTML5 Boilerplate * * What follows is the result of much research on cross-browser
    styling. * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal, * Kroc Camen,
    and the H5BP dev community and team. * Detailed information about this CSS: h5bp.com/css * *
    ==|== normalize ========================================================== */ /*
    ============================================================================= HTML5 display
    definitions ========================================================================== */
    article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display:
    block; } audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
    audio:not([controls]) { display: none; } [hidden] { display: none; } /*
    ============================================================================= Base
    ========================================================================== */ /* * 1. Correct
    text resizing oddly in IE6/7 when body font-size is set using em units * 2. Prevent iOS text
    size adjust on device orientation change, without disabling user zoom: h5bp.com/g */ * {
    margin:0 0 0 0; padding: 0; } html { font-size: 100%; -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%; background: url('../img/img1345901548.jpg') no-repeat center center
    fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover;
    background-size: cover; } html, button, input, select, textarea { font-family: sans-serif;
    color: #222; } body { margin: 0; font-size: 1em; line-height: 1.4; } /* * Remove text-shadow in
    selection highlight: h5bp.com/i * These selection declarations have to be separate * Also: hot
    pink! (or customize the background color to match your design) */ ::-moz-selection {
    background: #fe57a1; color: #fff; text-shadow: none; } ::selection { background: #fe57a1;
    color: #fff; text-shadow: none; } /*
    ============================================================================= Links
    ========================================================================== */ a { color: #00e;
    } a:hover { color: #06e; } a:focus { outline: thin dotted; } /* Improve readability when
    focused and hovered in all browsers: h5bp.com/h */ a:hover, a:active { outline: 0; } /*
    ============================================================================= Typography
    ========================================================================== */ abbr[title] {
    border-bottom: 1px dotted; } b, strong { font-weight: bold; } blockquote { margin: 1em 40px; }
    dfn { font-style: italic; } hr { display: block; height: 1px; border: 0; border-top: 1px solid
    #ccc; margin: 1em 0; padding: 0; } ins { background: #ff9; color: #000; text-decoration: none;
    } mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; } /* Redeclare
    monospace font family: h5bp.com/j */ pre, code, kbd, samp { font-family: monospace, serif;
    _font-family: 'courier new', monospace; font-size: 1em; } /* Improve readability of
    pre-formatted text in all browsers */ pre { white-space: pre; white-space: pre-wrap; word-wrap:
    break-word; } q { quotes: none; } q:before, q:after { content: ""; content: none; } small {
    font-size: 85%; } /* Position subscript and superscript content without affecting line-height:
    h5bp.com/k */ sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align:
    baseline; } sup { top: -0.5em; } sub { bottom: -0.25em; } /*
    ============================================================================= Lists
    ========================================================================== */ ul, ol { margin:
    0 0; padding: 0 0 0 40px; } dd { margin: 0 0 0 40px; } nav ul, nav ol { list-style: none;
    list-style-image: none; margin: 0; padding: 0; } /*
    ============================================================================= Embedded content
    ========================================================================== */ /* * 1. Improve
    image quality when scaled in IE7: h5bp.com/d * 2. Remove the gap between images and borders on
    image containers: h5bp.com/i/440 */ img { border: 0; -ms-interpolation-mode: bicubic;
    vertical-align: middle; } /* * Correct overflow not hidden in IE9 */ svg:not(:root) { overflow:
    hidden; } /* =============================================================================
    Figures ========================================================================== */ figure {
    margin: 0; } /* =============================================================================
    Forms ========================================================================== */ form {
    margin: 0; } fieldset { border: 0; margin: 0; padding: 0; } /* Indicate that 'label' will shift
    focus to the associated form element */ label { cursor: pointer; } /* * 1. Correct color not
    inheriting in IE6/7/8/9 * 2. Correct alignment displayed oddly in IE6/7 */ legend { border: 0;
    *margin-left: -7px; padding: 0; white-space: normal; } /* * 1. Correct font-size not inheriting
    in all browsers * 2. Remove margins in FF3/4 S5 Chrome * 3. Define consistent vertical
    alignment display in all browsers */ button, input, select, textarea { font-size: 100%; margin:
    0; vertical-align: baseline; *vertical-align: middle; } /* * 1. Define line-height as normal to
    match FF3/4 (set using !important in the UA stylesheet) */ button, input { line-height: normal;
    } /* * 1. Display hand cursor for clickable form elements * 2. Allow styling of clickable form
    elements in iOS * 3. Correct inner spacing displayed oddly in IE7 (doesn't effect IE6) */
    button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer;
    -webkit-appearance: button; *overflow: visible; } /* * Re-set default cursor for disabled
    elements */ button[disabled], input[disabled] { cursor: default; } /* * Consistent box sizing
    and appearance */ input[type="checkbox"], input[type="radio"] { box-sizing: border-box;
    padding: 0; *width: 13px; *height: 13px; } input[type="search"] { -webkit-appearance:
    textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing:
    content-box; } input[type="search"]::-webkit-search-decoration,
    input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; } /* * Remove
    inner padding and border in FF3/4: h5bp.com/l */ button::-moz-focus-inner,
    input::-moz-focus-inner { border: 0; padding: 0; } /* * 1. Remove default vertical scrollbar in
    IE6/7/8/9 * 2. Allow only vertical resizing */ textarea { overflow: auto; vertical-align: top;
    resize: vertical; } /* Colors for form validity */ input:valid, textarea:valid { }
    input:invalid, textarea:invalid { background-color: #f0dddd; } /*
    ============================================================================= Tables
    ========================================================================== */ table {
    border-collapse: collapse; border-spacing: 0; } td { vertical-align: top; } /*
    ============================================================================= Chrome Frame
    Prompt ========================================================================== */
    .chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; } /* ==|==
    primary styles ===================================================== Author:
    ========================================================================== */ .body-content{
    margin: 0 auto; width: 900px; overflow: hidden; background: #eeeeee; padding:0 30px;
    padding-bottom: 40px !important; } .body-content h1{ padding: 20px 0 0 40px; } .body-content p
    { padding: 2px 30px 2px 30px; text-align: justify; line-height: 30px; } .par3{ display: block;
    float: right; } .par3{ display: block; float: left; } .pre-header{ margin: 0 auto; width:960px;
    display:block; } .header{background:#cccccc !important; width:960px; height:126px;
    opacity:0.35; filter:alpha(opacity=35); /* For IE8 and earlier */ margin-top:10px; } /*@import
    url(http://fonts.googleapis.com/css?family=ABeeZee); {font-family: 'ABeeZee', sans-serif;} */
    .logo {display:block; clear:both; float:left; width:auto; height:120px; margin:-30px 0 0 0; }
    .logo_h { font-family: 'ABeeZee', sans-serif; font-size:95pt; color:#f2f2e6; } .logo_h {
    -webkit-mask-image: url(../img/stressed_linen.png); -o-mask-image:
    url(../img/stressed_linen.png); -moz-mask-image: url(../img/stressed_linen.png); mask-image:
    url(../img/stressed_linen.png); text-shadow: 0px 0px 30px rgba(30, 28, 28, 0.8); } .Nav {
    width:480px; display:block; float:right; background-color: #cccccc; padding: 0 !important;
    margin-top:85px; margin-bottom:0;} .Nav ul{ list-style-type:none; } .Nav ul
    li{list-style-type:none; display:inline-block; } .Nav ul li a{text-decoration:none; width:
    60px; height: 38px; padding:0 15px 0 15px; border-left: 2px solid #000000;} .Nav ul
    li:nth-last-child(1){ border-right: 2px solid #000000; margin-right: 15px !important; }
    .pre-footer{ width:960px; margin:0 auto; background-color: #cccccc; display:block; height:30px;
    opacity:0.35; filter:alpha(opacity=35); /* For IE8 and earlier */ } .footer { margin: 0 auto;
    width:auto; text-align: center; } .footer ul{list-style-type:none; font-size: 12px;
    margin-top:0px !important;} .footer ul li{list-style-type:none; display:inline-block;
    padding-right: 35px; margin-top: 8px;} .footer ul li a{text-decoration:none;} /*
    ================================== Social Page =========================== */ .social {
    margin:auto; width: 900px; height: 210px; } .social img{ border: 8px solid #ffffff; margin:
    20px 10px 5px 10px; vertical-align:text-bottom; } .social p{ padding:20px 55px 10px 10px;
    line-height: 30px; } .social_date { display: block; width: 85px; height: 25px; padding: 55px
    35px 95px 35px; float: left; } .social_name{ display:block; width: 80px; height: 25px; padding:
    5px 5px; margin-left: 235px; } .social_status { display: block; float: right; margin:auto;
    width:500px; } /* ================================== Product Page ===========================
    */ .p_row { margin:auto; width: 960px; height: auto; overflow: auto; } .p_product{ display:
    inline-block; width: 190px; height: 25px; padding: 95px 40px 95px 40px; float: left; }
    .p_price{ display:inline-block; width: 80px; height: 25px; padding: 95px 0 0 0; margin-left:
    150px; } .p_image { display: inline-block; float: right; } .p_image img{ border: 8px solid
    #ffffff; margin: 20px 160px 5px 10px; vertical-align:text-bottom; } /*
    ================================ News Page ============================== */ .news{ margin:0
    auto; width: 900px; height: auto; overflow: auto; } .newsHeading{margin-left:20px ;}
    .news_date{ display: inline-block; width: 95px; height: 95px; padding: 27px 20px 0px 30px ;
    float: left; } .news_feed h2{ padding-left: 45px; } .news_feed p{ display:inline-block; width:
    710px; padding: 0 10px 10px 0; float: left; } /*
    ==|========================================================================= FORM STYLING
    ========================================================================== */
    .subscribe-container{ display: block; padding: 0 30px 0 25px; height:150px; float: right; }
    .subscribe-container{ padding-top: 5px; } .subscribe_email {margin:0 !important; padding:0
    !important; } .subscribe_name{margin: -1px 0 10px 0 !important;} .subscribe_email,
    .subscribe_name{width:174px !important;} .labelname{ padding:25px 25px 20px 30px; }
    .labelemail{ padding:25px 25px 20px 30px; } .sub_fn{ display: inline; } .sub_fe{ display:
    inline; } .subscribe-container fieldset { background:#f2f2e6; padding:10px; border:1px solid
    #fff; border-color:#fff #666661 #666661 #fff; margin-top: 10px; margin-bottom:5px; width:310px;
    height: 100px; } form.subscribe-container button.f_submit { width: auto !important; height:
    26px !important; color: #fff ; background-color: rgb(191, 191, 48); padding: 0 2px !important;
    cursor: pointer !important; border: none; font: 12px Tahoma, Arial, Helvetica, sans-serif
    !important; font-weight: bold; text-transform: uppercase; letter-spacing: 1px; display: block;
    float: right; } input, textarea, select { font:14px/14px Arial, Helvetica, sans-serif; margin:
    10px; } fieldset.action { background:#9da2a6 !important; border-color:#e5e5e5 #797c80 #797c80
    #e5e5e5; margin-top:-20px; } legend { background:#bfbf30; color:#fff; font:17px/21px Calibri,
    Arial, Helvetica, sans-serif; padding:0 10px; margin:-15px 0 0 -11px; font-weight:bold;
    border:1px solid #fff; border-color:#e5e5c3 #505014 #505014 #e5e5c3;} label { font-size:14px;
    font-weight:bold; color:#666; } /*Buttons*/ .f_submit, .submit { width: auto; height: 26px;
    color: #fff ; background-color: #bfbf30 ; padding: 0 2px; cursor: pointer; border: none; font:
    12px/26px Tahoma, Arial, Helvetica, sans-serif; font-weight: bold; text-transform: uppercase;
    letter-spacing: 1px; vertical-align: middle; display: block; float: right; } /*
    ==|======================================================================= PROCESS FORM PAGE
    ========================================================================== */ table{
    border-collapse:collapse; width:680px; background-color: #ffffff; margin:0 auto; } table, th,
    td { border: 1px solid #777777; } th { height: 65px; background-color: #777777; font-size:
    22px; width: 32%; } td { text-align: center; height: 10px; vertical-align:bottom; padding:10px;
    } .mtext{ margin-left:150px; margin-top:45px; } .col1{ text-align: right; width:35% !important;
    } /* ==|======================================================================= ORDER PAGE
    ========================================================================== */ .order { width:
    680px; margin: 0 auto; height: 650px; overflow: visible; } .labels{ margin-top: -8px;
    margin-left: 40px; padding: 20px; } .fn{ display: inline-block; } .ln{ display: inline-block; }
    .ad1{ display: inline-block; } .ad2{ display: inline-block; } .c{ display: inline-block; } .st{
    display: inline-block; } .p{ display: inline-block; } .zc { display: inline-block; } .pr_c{
    margin-left: 110px; margin-top: -20px; } .lgnd{ padding:5px 20px; } .fset{ border: 1px solid
    #bfbf30; padding: 60px; } .o { display: block; float: right; margin-right: 145px; padding: 6px;
    width:195px !important; } .st{padding:0 -3px;} /* ==|== media queries
    ====================================================== EXAMPLE Media Query for Responsive
    Design. This example overrides the primary ('mobile first') styles Modify as content requires.
    ========================================================================== */ @media only
    screen and (min-width: 35em) { /* Style adjustments for viewports that meet the condition */ }
    /* ==|== non-semantic helper classes ======================================== Please define
    your styles before this section.
    ========================================================================== */ /* For image
    replacement */ .ir { display: block; border: 0; text-indent: -999em; overflow: hidden;
    background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr;
    *line-height: 0; } .ir br { display: none; } /* Hide from both screenreaders and browsers:
    h5bp.com/u */ .hidden { display: none !important; visibility: hidden; } /* Hide only visually,
    but have it available for screenreaders: h5bp.com/v */ .visuallyhidden { border: 0; clip:
    rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute;
    width: 1px; } /* Extends the .visuallyhidden class to allow the element to be focusable when
    navigated to via the keyboard: h5bp.com/p */ .visuallyhidden.focusable:active,
    .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible;
    position: static; width: auto; } /* Hide visually and from screenreaders, but maintain layout
    */ .invisible { visibility: hidden; } /* Contain floats: h5bp.com/q */ .clearfix:before,
    .clearfix:after { content: ""; display: table; } .clearfix:after { clear: both; } .clearfix {
    *zoom: 1; } /* ==|== print styles ======================================================= Print
    styles. Inlined to avoid required HTTP connection: h5bp.com/r
    ========================================================================== */ @media print { *
    { background: transparent !important; color: black !important; box-shadow:none !important;
    text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black
    prints faster: h5bp.com/s */ a, a:visited { text-decoration: underline; } a[href]:after {
    content: " (" attr(href) ")"; } abbr[title]:after { content: " (" attr(title) ")"; } .ir
    a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; } /* Don't show links
    for images, or javascript/internal links */ pre, blockquote { border: 1px solid #999;
    page-break-inside: avoid; } thead { display: table-header-group; } /* h5bp.com/t */ tr, img {
    page-break-inside: avoid; } img { max-width: 100% !important; } @page { margin: 0.5cm; } p, h2,
    h3 { orphans: 3; widows: 3; } h2, h3 { page-break-after: avoid; } }
  </body>
</html>