<ul>

    <li><a href="index.html">Home</a></li>

    <li><a href="#">Products</a></li>

    <li><a href="#">Order</a></li>

    <li><a href="social.php">Social</a></li>

    <li><a href="#">Contact Us</a></li>

</ul>

<form action="#" class="subscribe-container" method="post">
<p><label for="subscribe_name">Name</label>
  <input id="subscribe_name" type="text" /></p>
<p><label for="subscribe_emai">Email</label>
  <input id="subscribe_email" type="text" /></p>
</form>